name: test

on:
  pull_request:
    branches:
      - main # or your target branch name

jobs:
  rust:
    runs-on: ubuntu-latest
    container: ubuntu:24.04
    steps:
      - uses: actions/checkout@v4

      - name: Install CI tools
        run: |
          apt-get update
          apt-get install -y curl jq build-essential libssl-dev openssl pkg-config xvfb libgtk-3-0 libasound2t64 wget

      # - name: Setup Firefox (for plotly)
      #   uses: browser-actions/setup-firefox@v1
      #   with:
      #     firefox-version: 'latest'

      - name: Install Minio
        run: |
          wget --quiet -O /tmp/minio https://dl.min.io/server/minio/release/linux-amd64/minio
          chmod +x /tmp/minio
          /tmp/minio -v

      # - uses: dtolnay/rust-toolchain@stable

      # - name: Install latest mdbook
      #   run: |
      #     cargo install mdbook

      - uses: extractions/setup-just@v2

      - name: Build Book
        run: |
          shopt -s expand_aliases
          alias minio="/tmp/minio -C /tmp/minio-config"
          just build

      # - name: Test Examples
      #   run: just get-data-ci