name: test

on:
  pull_request:
    branches:
      - main # or your target branch name

jobs:
  rust:
    runs-on: ubuntu-latest
    container: ubuntu:24.04

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432

      minio:
        image: minio/minio:latest
        ports:
          - 9000:9000
        command: server ./data/minio --console-address ":9001" # MinIO requires an explicit server command
        env:
          MINIO_ROOT_USER: minio
          MINIO_ROOT_PASSWORD: minio

    steps:

      - name: Install CI tools
        run: |
          apt-get update
          apt-get install -y sudo curl jq build-essential libssl-dev openssl pkg-config xvfb libgtk-3-0 libasound2t64 wget
        
      - uses: actions/checkout@v4

      - name: Setup Firefox (for plotly)
        uses: browser-actions/setup-firefox@v1
        with:
          firefox-version: 'latest'

      - uses: dtolnay/rust-toolchain@stable

      - name: Install latest mdbook
        run: |
          cargo install mdbook

      - uses: extractions/setup-just@v2

      - name: Build Book
        run: just build

      - name: Test Examples
        run: |
          just test-all-ci
        env:
          POSTGRES_URL: "postgresql://postgres:postgres@postgres:5432/postgres"
